.presentend__button,
.footer__button {
  border: 1px solid white;
  padding: 0 53px;
  margin-top: 60px;
  border-radius: 10px;
  background: #5A98D0;
  color: white;
}

.header__contact {
  width: 1366px;
  margin: 0 auto;
}

.description {
  background-image: url(../img/image/back-contact.png);
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
}

.description__title {
  font-family: Gilroy;
  font-size: 44px;
  padding-top: 40px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: white;
}

.description__text {
  font-family: Gilroy;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  width: 780px;
  display: block;
  height: 100%;
  margin: 0 auto;
  margin-top: 16px;
  padding-bottom: 60px;
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 42px;
}

.connect__place {
  width: 300px;
}

.title-plase {
  color: #1F3F68;
}

.plase__address {
  padding-top: 1px;
}

.plase__address,
.plase__phone,
.plase__online {
  margin-top: 40px;
}

.plase__address > p,
.plase__phone > p,
.plase__online > p {
  opacity: 0.6;
}

.message {
  width: 540px;
  height: 800px;
  background: white;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin-top: -85px;
}

.inform {
  margin-left: 18px;
}

.inform > a {
  text-decoration: none;
  color: #1F3F68;
}

.form__title {
  margin-left: 56px;
  padding-top: 56px;
  color: #1F3F68;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 56px;
  margin-right: 56px;
  margin-top: 48px;
}

.form__group > input,
.form textarea {
  padding-left: 36px;
  padding-top: 21px;
  padding-bottom: 21px;
  display: block;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.4;
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

textarea {
  height: 144px;
  padding-left: 36px;
  padding-top: 21px;
  padding-bottom: 21px;
  display: block;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.4;
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.submit {
  margin-left: 56px;
  width: 80%;
  padding: 23px 184px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: white;
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border: #5A98D0;
  border-radius: 10px;
  margin-top: 72px;
}

.submit:hover {
  background: #98C3E8;
}

#map {
  width: 940px;
  height: 480px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: -660px;
}

.modal-form {
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  background: white;
}

.submit {
  margin-bottom: 20px;
}

.open {
  display: block;
  margin-left: 100px;
}

.modal-close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  border: none;
  background: #ffffff;
}

.modal-close:before,
.modal-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.modal-close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:active,
.modal-close:focus {
  outline: none;
}

.presentend__button,
.footer__button {
  border: 1px solid white;
  padding: 0 53px;
  margin-top: 60px;
  border-radius: 10px;
  background: #5A98D0;
  color: white;
}

body {
  width: 1366px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  color: #1F3F68;
  margin: 0 auto;
  padding: 1px;
}

h1 {
  font-family: Galien;
  font-size: 62px;
  line-height: 68px;
  color: #1F3F68;
}

h2 {
  font-family: Galien;
  font-size: 44px;
  line-height: 74px;
  letter-spacing: 0.04em;
}

h3 {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
}

p {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.conteiner {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  width: 1366px;
  height: 768px;
  background-image: url(../image/header_back);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #98C3E8), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: -o-linear-gradient(bottom, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
  background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
  margin: 0 auto;
}

.header__menu {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 40px;
}

.header__burger {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

input {
  display: none;
}

label {
  cursor: pointer;
}

.menu__item {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}

.burger-menu {
  margin-top: 13px;
  margin-right: 4px;
}

.burger-menu__open > img {
  z-index: 3;
  display: inline-block;
}

.burger-menu__close {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.burger-menu__menu::checked ~ .burger-menu__close {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
}

.burger-menu__menu:checked ~ .menu {
  display: inline-block;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.burger__menu {
  width: auto;
  position: absolute;
  list-style: none;
  padding: 0;
  color: white;
  overflow: hidden;
  display: none;
  text-transform: uppercase;
  background-color: #5A98D0;
  margin-left: -100px;
  margin-top: 30px;
  z-index: 10;
}

.burger__menu > li {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.burger__menu > li > a {
  text-decoration: none;
}

.burger__menu > li > a:hover {
  border-bottom: 2px solid #316099;
  color: white;
}

.presentend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.presentend__rede {
  z-index: 10;
  left: 0;
  padding-top: 40px;
}

.presentend__title {
  width: 560px;
}

.presentend__text {
  margin-top: -10px;
  width: 400px;
  opacity: 0.6;
}

.presentend__illustration {
  margin-left: -118px;
  margin-top: -8px;
  width: 687px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 160px;
  margin: 0 auto;
}

.left__head {
  color: #316099;
  width: 358px;
  margin-bottom: 158px;
  letter-spacing: 0.05em;
}

.left__card {
  margin-left: 80px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 380px;
  height: 525px;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 120px;
}

.card__body {
  margin: 48px;
}

.card__img {
  width: 200px;
  margin: 0 auto;
}

.card__title {
  color: #1F3F68;
}

.card__text {
  color: #1F3F68;
  opacity: 0.6;
}

.center-card__img {
  margin-left: 20px;
  padding-bottom: 20px;
  width: 190px;
}

.top-card__img {
  margin-top: -65px;
  width: 250px;
  margin-top: -70px;
  margin-left: 25px;
  margin-bottom: 15px;
}

.bottom-card__img {
  width: 160px;
  margin-left: 40px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrow__text {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
}

.arrow__img {
  color: #5A98D0;
  padding-top: 20px;
  padding-left: 28px;
}

.client {
  position: absolute;
  width: 1366px;
  height: 1549px;
  margin: 0 auto;
  background: #5A98D0;
  border-radius: 200px 0px 0px 0px;
  color: white;
  margin-top: 73px;
}

.client-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 56px;
}

.client-info__title {
  width: 223px;
}

.client-info__text {
  width: 540px;
  padding-top: 20px;
  padding-left: 100px;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 60px;
  padding-left: 15px;
}

.logo__item {
  width: 225px;
  height: 128px;
  border: 1px solid white;
}

.logo__item > a {
  text-decoration: none;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: white;
}

.client__logo > li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client__logo > li:nth-chuld(-n+4) {
  border-top: none;
}

.client__logo > li:nth-chuld(1),
.client__logo > li:nth-chuld(5) {
  border-left: none;
}

.client__logo > li:nth-chuld(n+5) {
  border-bottom: none;
}

.client__logo > li:nth-chuld(4),
.client__logo > li:nth-chuld(8) {
  border-right: none;
}

.client__logo > li:hover {
  background: #1F3F68;
  opacity: 0.2;
}

.client__logo > li > a:hover {
  color: white;
}

.footer {
  position: relative;
  width: 1270px;
  background: #316099;
  border-radius: 0px 200px 0px 0px;
  left: 0;
  bottom: -753px;
  z-index: 5;
  color: white;
}

.footer__border {
  height: 1px;
  background: white;
  opacity: 0.4;
  width: 1073px;
  margin-top: 85px;
  margin-left: -170px;
}

.footer__creaton {
  color: white;
  opacity: 0.4;
  margin-top: 58px;
  margin-left: 50px;
  padding-bottom: 20px;
}

.footer__button {
  height: 56px;
  width: 220px;
  margin-top: 115px;
  margin-right: -20px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 840px;
  margin: 0 auto;
  padding-top: 50px;
}

.footer-info__title {
  width: 317px;
}

.footer-info__text > p {
  width: 460px;
  font-size: 16px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 96px;
  width: 800px;
  margin-left: 50px;
}

.contact-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -25px;
}

.contact-footer__logo > p {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  margin-left: 10px;
  width: 264px;
  margin-top: 23px;
}

.contact-footer__mail > a {
  text-decoration: none;
  color: white;
  margin-top: 15px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -10px;
}

.footer-text {
  width: 264px;
}

.inits {
  margin-right: 16px;
}

.about-footer {
  margin-top: -30px;
}

.about-footer__text > a {
  color: white;
  text-decoration: none;
}

.soc-footer {
  margin-top: -30px;
}

.soc-footer__text > a {
  color: white;
  text-decoration: none;
}

@media (max-width: 770px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .left__head {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .left__card {
    margin: 0 auto;
  }

  .card {
    text-align: center;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 40px;
    width: 80%;
  }

  .card__title {
    font-size: 26px;
  }

  .card__text {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .connect {
    text-align: center;
    width: 400px;
    display: block;
    margin: 0 auto;
    font-size: 26px;
  }

  .connect__place {
    width: 600px;
  }

  .title-plase {
    width: 300px;
    padding-left: 120px;
  }

  .plase__address > p {
    width: 500px;
    font-size: 24px;
  }

  .plase__address > p,
  .plase__phone > p,
  .plase__online > p {
    width: 500px;
    font-size: 24px;
  }

  .message {
    margin-top: 20px;
  }

  .header__menu {
    width: 80%;
  }

  .presentend__rede {
    text-align: center;
  }

  .presentend__title {
    width: 90%;
  }

  .presentend__text {
    width: 90%;
    font-size: 20px;
  }

  .presentend__illustration {
    display: none;
  }

  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .card {
    text-align: center;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 40px;
    width: 80%;
  }

  .client-info {
    display: block;
    text-align: center;
  }

  .client-info__title {
    margin: 0 auto;
  }

  .client-info__text {
    margin: 0 auto;
    font-size: 20px;
  }

  .footer {
    width: 100%;
    margin: 0 auto;
  }

  .footer__button {
    margin: 0 auto;
    margin-top: 20px;
  }

  .footer-info {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .footer-info__title {
    margin: 0 auto;
  }

  .footer-info__text > p {
    margin: 0 auto;
    font-size: 20px;
  }

  .contact {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contact__footer {
    width: 400px;
    margin: 0 auto;
  }

  .contact-footer__logo > p {
    font-size: 40px;
  }

  .contact-footer__mail > a {
    font-size: 26px;
  }

  .flex > p {
    font-size: 26px;
  }

  .about-footer__title {
    font-size: 26px;
  }

  .about-footer > p {
    font-size: 26px;
  }

  .soc-footer__title {
    font-size: 26px;
  }

  .soc-footer__text > a {
    font-size: 26px;
  }
}

.webp .description { background-image: url(../img/image/back-contact.webp); }